mat-toolbar {
  height: 100px;

  .container-logo img {
    border-radius: 50%;
  }

  .container-name {
    p {
      margin-bottom: 0;
    }

    span {
      font-weight: normal;
      font-size: 14px;
    }

  }
}

