<div class="container-full">
  <div class="container">
    <mat-toolbar>
      <div class="container-logo">
        <img ngSrc="/assets/logotype.png" alt="logotype" height="80" width="80">
        <div class="box-name">
          <p>Marcin Szyszka</p>
          <span>Developer</span>
        </div>
      </div>

      <span class="spacer"></span>

      <div class="container-link">
        <a routerLink="/about-me" routerLinkActive="activeLink">O mnie</a>
        <a routerLink="/career" routerLinkActive="activeLink">Kariera</a>
        <a routerLink="/education" routerLinkActive="activeLink">Wykształcenie</a>
        <a routerLink="hobby" routerLinkActive="activeLink">Hobby</a>
        <a routerLink="/projects" routerLinkActive="activeLink">Realizacje</a>
      </div>

    </mat-toolbar>
  </div>
</div>
