.box {
  width: 30%;
  margin-left: 25px;
  padding-top: 150px;
  text-align: justify;
}

.box-img {
  margin-top: 100px;
  max-width: 60%;
  max-height: 600px;

  img {
    width: 100%;
    height: 100%;
  }

}

.flex {
  padding-top: 20px;
}

.card {
  max-width: 400px;
  margin-top: 25px;
  box-shadow: none;

  img {
    border-radius: 20px;
  }
}
