<div class="container-full-header background-img">
  <div class="container">
    <div class="box">
      <h1>Wykształcenie</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur deleniti eos esse ex fugiat incidunt laborum minus non praesentium quas quibusdam saepe sunt vel veritatis, voluptate. Commodi doloremque exercitationem nisi!</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi architecto consectetur et eum quae reprehenderit sint? Amet ex laboriosam nesciunt nobis qui sed tempore temporibus ullam veritatis vitae. Error?<br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi architecto consectetur et eum quae reprehenderit sint? Amet ex laboriosam nesciunt nobis qui sed tempore temporibus ullam veritatis vitae. Error?<br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi architecto consectetur et eum quae reprehenderit sint? Amet ex laboriosam nesciunt nobis qui sed tempore temporibus ullam veritatis vitae. Error?
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consequatur debitis ea eum laboriosam maiores numquam perferendis quae repudiandae voluptatum? Assumenda eos exercitationem laudantium nulla quam quisquam reiciendis, unde voluptatibus?
      </p>
    </div>
  </div>

</div>
