<div class="container-full">
  <div class="container container-header">
    <div class="box">
      <h1>Realizacje</h1>
      <p>
        W tym dziale prezentuję wybrane strony internetowe i sklepy internetowe, które zaprojektowałem i rozwinąłem. Każdy projekt zawiera krótkie opisy, kluczowe technologie zastosowane w procesie tworzenia oraz linki do działających stron.
      </p>
      <p>
          Posiadam doświadczenie w tworzeniu strony internetowych z projektu przygotowanego w Photoshop, Gimp, Figma od prostych stron firmowych po złożone sklepy internetowe. Nie mam problemu z używaniem innych aplikacji jak np. Adobe XD.
      </p>
      <p>
        Potrafię stworzyć stronę internetową lub sklep internetowy dostosowany do indywidualnych potrzeb klienta.
      </p>
      <p>
        Jestem osobą kreatywną i rzetelną, dbającą o wysoką jakość wykonywanych prac.
      </p>
      <p>
        Stale poszerzam swoją wiedze w zakrecie tworzenia strony i aplikacji internetowych.
      </p>
      <p>
        Poniżej zaprezentowałem moje realizacje, które wykonałem prywatnie oraz w firmie, której obecnie pracuje.
      </p>

    </div>

    <div class="box">
      <img src="/assets/banners/banner1_kw.jpg" alt="about me">
    </div>

  </div>
</div>

<div class="container container-body mt-10">

  <mat-card class="card">
    <img mat-card-image src="./assets/joker-house-logo.jpeg" alt="Joker House Nieruchomości">
    <mat-card-content>
      <h4>Joker House Nieruchomości</h4>
      <p style="text-align: justify">
        Strona internetowa utworzona na Wordpress.<br>
        Jest to wizytówka firmy z możliwością przeglądania oraz wysyłania zapytań odnośnie zamieszczonych ofert.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button href="https://jokerhouse-nieruchomosci.pl/" target="_blank">STRONA</a>
      <a mat-button>REKOMENDACJA</a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card">
    <img mat-card-image src="./assets/mebelbos-logo.jpg" alt="Mebelbos">
    <mat-card-content>
      <h4>Mebelbos</h4>
      <p>
        Sklep internetowy z meblami utworzony na platformie Comarch.
        Sklep został dostosowany do wytycznych klienta i jest aktualanie utrzymywany przeze mnie w firmie Netrix.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button href="https://mebelbos.pl/" target="_blank">STRONA</a>
      <a mat-button>REKOMENDACJA</a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card">
    <img mat-card-image src="./assets/emka-logo.png" alt="Emka Meble">
    <mat-card-content>
      <h4>Emka Meble</h4>
      <p>
        Sklep internetowy z meblami utworzony na platformie Comarch.
        Sklep został dostosowany do wytycznych klienta przeze mnie w firmie Netrix.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button href="https://www.emkameble.pl/" target="_blank">STRONA</a>
      <a mat-button>REKOMENDACJA</a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card">
    <img mat-card-image src="./assets/brwoamator-logo.jpg" alt="Browamator">
    <mat-card-content>
      <h4>Browamator</h4>
      <p>
        Sklep internetowy związany w wytwarzanim m.in. piwa utworzony na platformie Comarch.
        Sklep został dostosowany do wytycznych klienta oraz aktaulnie jest utrzymywany przeze mnie w firmie Netrix.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button href="https://browamator.pl/" target="_blank">STRONA</a>
      <a mat-button>REKOMENDACJA</a>
    </mat-card-actions>
  </mat-card>


  <mat-card class="card">
    <img mat-card-image src="./assets/dalimex-logo.png" alt="Dalimex">
    <mat-card-content>
      <h4>Dalimex</h4>
      <p>
        Sklep internetowy związany w zaopatrzeniem biur utworzony na platformie Comarch.
        Sklep został dostosowany do wytycznych klienta oraz aktaulnie jest utrzymywany przeze mnie w firmie Netrix.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button href="https://sklep.dalimex.pl/" target="_blank">STRONA</a>
      <a mat-button>REKOMENDACJA</a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card">
    <img mat-card-image src="./assets/linea-logo.jpg" alt="Linea">
    <mat-card-content>
      <h4>Linea</h4>
      <p>
        Sklep internetowy z szerokim wyborem środków czyszczących, maszyn itp. utworzony na platformie Comarch.
        Sklep został dostosowany do wytycznych klienta oraz aktaulnie jest utrzymywany przeze mnie w firmie Netrix.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button href="https://linearzeszow.comarch-esklep.pl/" target="_blank">STRONA</a>
      <a mat-button>REKOMENDACJA</a>
    </mat-card-actions>
  </mat-card>


</div>
