<div class="container-full-header background-img">
  <div class="container">
    <div class="box">
      <h1>O mnie</h1>
      <p>Obecnie pracuje w firmie Netrix i zajmuje się wdrożeniem, utrzymaniem, modernizacją oraz serwisem aplikacji typu e-commerce.</p>
      <p>
        Powierzoną pracę wykonuję starannie i dokładnie, w przypadku tematów dla mnie obcych najpierw prowadzę rozeznanie w temacie, aby później wiedzieć, co mam napisać.<br>
        Bardzo lubię podróżować, służbowo czy prywatnie nie ma znaczenia, możliwość wyjazdu zawsze dla mnie jest bardzo pozytywnie odbierana! <br>
        Dla odstresowania uczęszczam do klubu Universal Fight Team by negatywne emocje wyłodać na worek treningowy (lub na kompana sparingowego 😁).<br>
        Dodatkowo aktywnie uczęszczam na zawodach strzeleckich z klubu KS Kasztelan LOK Rzeszów co pokazuje, że jestem zdyscyplinowany w podejmowanych krokach.

      </p>
      <p>
        Na mieście mówią, że jestem pomocny i cierpliwy (do czasu gdy ktoś nie podniesie ciśnienia 😝).<br>
        Poniżej trochę zdjęć i fragmentów z zawodów oraz treningów 👌
      </p>
    </div>
  </div>

</div>
